.ico {
    background: var(var(--icon-color--icon-primary));
    -webkit-mask-size: contain !important;
        mask-size: contain !important;
    -webkit-mask-position: center !important;
        mask-position: center !important;
    -webkit-mask-repeat: no-repeat !important;
        mask-repeat: no-repeat !important;
    --ico-2d-3d-image: url(https://uploads-ssl.webflow.com/656a605609413dfd3feb9d34/65b83404c21b947983d7cbd1_2d-3d-image.svg);
    --ico-aerospace: url(https://uploads-ssl.webflow.com/656a605609413dfd3feb9d34/65b834043eded056d7ee6c2a_aerospace.svg);
    --ico-ai-ml: url(https://uploads-ssl.webflow.com/656a605609413dfd3feb9d34/65b83405e6a579d762a2cecd_ai-ml.svg);
    --ico-audio-solid: url(https://uploads-ssl.webflow.com/656a605609413dfd3feb9d34/65b83404250bc1a5892dc669_audio-solid.svg);
    --ico-audio: url(https://uploads-ssl.webflow.com/656a605609413dfd3feb9d34/65b83404881bfa19b4d6de06_audio.svg);
    --ico-audit: url(https://uploads-ssl.webflow.com/656a605609413dfd3feb9d34/65b8340480b8bc6bf40f79f6_audit.svg);
    --ico-augmentation: url(https://uploads-ssl.webflow.com/656a605609413dfd3feb9d34/65b834042aefe9728e1e0d9d_augmentation.svg);
    --ico-authentication: url(https://uploads-ssl.webflow.com/656a605609413dfd3feb9d34/65b8340479b55f2a975a6a4e_authentication.svg);
    --ico-automotive: url(https://uploads-ssl.webflow.com/656a605609413dfd3feb9d34/65b83404e6aae193ddff2aad_automotive.svg);
    --ico-blog: url(https://uploads-ssl.webflow.com/656a605609413dfd3feb9d34/65b834042a8ec853a589f196_blog.svg);
    --ico-bullhorn: url(https://uploads-ssl.webflow.com/656a605609413dfd3feb9d34/65b83405428db5f2de961b7d_bullhorn.svg);
    --ico-case-study: url(https://uploads-ssl.webflow.com/656a605609413dfd3feb9d34/65b83405ebbd53419a011590_case-study.svg);
    --ico-checkmark-outline: url(https://uploads-ssl.webflow.com/656a605609413dfd3feb9d34/65b834059e36fac30adb93a5_checkmark-outline.svg);
    --ico-client-control-data: url(https://uploads-ssl.webflow.com/656a605609413dfd3feb9d34/65b834056d7b6b8c61174110_client-control-data.svg);
    --ico-close-outline: url(https://uploads-ssl.webflow.com/656a605609413dfd3feb9d34/65b8340593a2e8fbba869c0e_close-ouline.svg);
    --ico-cloud-data: url(https://uploads-ssl.webflow.com/656a605609413dfd3feb9d34/65b83405a33b595d05fd7ca9_cloud-data.svg);
    --ico-code-generation: url(https://uploads-ssl.webflow.com/656a605609413dfd3feb9d34/65b83405fc1dcbcde2d7db2f_code-generation.svg);
    --ico-computer-vision: url(https://uploads-ssl.webflow.com/656a605609413dfd3feb9d34/65b834053f244914d14b59fd_computer-vision.svg);
    --ico-crowd: url(https://uploads-ssl.webflow.com/656a605609413dfd3feb9d34/65b834054643b9f6191dcf84_crowd.svg);
    --ico-curate-data: url(https://uploads-ssl.webflow.com/656a605609413dfd3feb9d34/65b7dcfafd4c796f048b4ee0_curate-data.svg);
    --ico-data-annotation: url(https://uploads-ssl.webflow.com/656a605609413dfd3feb9d34/65b83405bb2671c7931a4d3a_data-annotation.svg);
    --ico-data-collection: url(https://uploads-ssl.webflow.com/656a605609413dfd3feb9d34/65b83405cdca80d8070a720a_data-collection.svg);
    --ico-data-sheets: url(https://uploads-ssl.webflow.com/656a605609413dfd3feb9d34/65b834052a8ec853a589f25c_data-sheets.svg);
    --ico-data-types: url(https://uploads-ssl.webflow.com/656a605609413dfd3feb9d34/65b8340530fa9d5b63c38c55_data-types.svg);
    --ico-data-validation: url(https://uploads-ssl.webflow.com/656a605609413dfd3feb9d34/65b83405e9c987ba38cb5e2d_data-validation.svg);
    --ico-delivery: url(https://uploads-ssl.webflow.com/656a605609413dfd3feb9d34/65b834051779eefdb3bff85c_delivery.svg);
    --ico-document: url(https://uploads-ssl.webflow.com/656a605609413dfd3feb9d34/65b8340573229b69531abfca_document.svg);
    --ico-earth: url(https://uploads-ssl.webflow.com/656a605609413dfd3feb9d34/65b83411c21b947983d7d196_earth.svg);
    --ico-ebook: url(https://uploads-ssl.webflow.com/656a605609413dfd3feb9d34/65b83413eca909673d90577f_ebook.svg);
    --ico-encryption: url(https://uploads-ssl.webflow.com/656a605609413dfd3feb9d34/65b834116dc3b1f426591bb6_encryption.svg);
    --ico-entertainment: url(https://uploads-ssl.webflow.com/656a605609413dfd3feb9d34/65b834118cf9630f5d530e8c_entertainment.svg);
    --ico-file-audio: url(https://uploads-ssl.webflow.com/656a605609413dfd3feb9d34/65b83411b73727dafc79e150_file-audio.svg);
    --ico-file-security: url(https://uploads-ssl.webflow.com/656a605609413dfd3feb9d34/65b834117fcecd8c64636099_file-security.svg);
    --ico-file-video: url(https://uploads-ssl.webflow.com/656a605609413dfd3feb9d34/65b83413eca909673d905785_file-video.svg);
    --ico-finance: url(https://uploads-ssl.webflow.com/656a605609413dfd3feb9d34/65b834114643b9f6191dd7d4_finance.svg);
    --ico-fine-tune: url(https://uploads-ssl.webflow.com/656a605609413dfd3feb9d34/65b83411317123a6acc4925e_fine-tune.svg);
    --ico-gen-ai: url(https://uploads-ssl.webflow.com/656a605609413dfd3feb9d34/65b834127b51d881bd9c9530_gen-ai.svg);
    --ico-global-radar: url(https://uploads-ssl.webflow.com/656a605609413dfd3feb9d34/65b834112da8a2439d1ae615_global-radar.svg);
    --ico-global: url(https://uploads-ssl.webflow.com/656a605609413dfd3feb9d34/65b83411e9c987ba38cb6332_global.svg);
    --ico-group-people: url(https://uploads-ssl.webflow.com/656a605609413dfd3feb9d34/65b834111b9114446fd1fb28_group-people.svg);
    --ico-healthcare-alt: url(https://uploads-ssl.webflow.com/656a605609413dfd3feb9d34/65b834116d7b6b8c6117455e_healthcare-alt.svg);
    --ico-healthcare: url(https://uploads-ssl.webflow.com/656a605609413dfd3feb9d34/65b8341112709ae44f2382cd_healthcare.svg);
    --ico-image-arrow: url(https://uploads-ssl.webflow.com/656a605609413dfd3feb9d34/65b8341146cabf7e0f27ad97_image-arrow.svg);
    --ico-image-search: url(https://uploads-ssl.webflow.com/656a605609413dfd3feb9d34/65b834121413d5b8afc13f41_image-search.svg);
    --ico-image-video: url(https://uploads-ssl.webflow.com/656a605609413dfd3feb9d34/65b83411903a11976e6eab8e_image-video.svg);
    --ico-image: url(https://uploads-ssl.webflow.com/656a605609413dfd3feb9d34/65b8341296101a5362588f70_image.svg);
    --ico-industries: url(https://uploads-ssl.webflow.com/656a605609413dfd3feb9d34/65b83412f9e58815493c9420_industries.svg);
    --ico-layers: url(https://uploads-ssl.webflow.com/656a605609413dfd3feb9d34/65b7d03dcf022cda795feb72_layers.svg);
    --ico-locked: url(https://uploads-ssl.webflow.com/656a605609413dfd3feb9d34/65b83412cdca80d8070a7745_locked.svg);
    --ico-magic-wand: url(https://uploads-ssl.webflow.com/656a605609413dfd3feb9d34/65b83412b19fc5081558ec90_magic-wand.svg);
    --ico-mobile-audio: url(https://uploads-ssl.webflow.com/656a605609413dfd3feb9d34/65b8341248853d22f374973c_mobile-audio.svg);
    --ico-mobile-location: url(https://uploads-ssl.webflow.com/656a605609413dfd3feb9d34/65b83412b17894c5364828ea_mobile-location.svg);
    --ico-monitor: url(https://uploads-ssl.webflow.com/656a605609413dfd3feb9d34/65b8341286713f229473626f_monitor.svg);
    --ico-on-premises: url(https://uploads-ssl.webflow.com/656a605609413dfd3feb9d34/65b83412f9e58815493c9475_on-premises.svg);
    --ico-point-of-interest: url(https://uploads-ssl.webflow.com/656a605609413dfd3feb9d34/65b8341248853d22f374974a_point-of-interest.svg);
    --ico-policy: url(https://uploads-ssl.webflow.com/656a605609413dfd3feb9d34/65b83412fc1dcbcde2d7e05e_policy.svg);
    --ico-precision: url(https://uploads-ssl.webflow.com/656a605609413dfd3feb9d34/65b8341eed9a61ac4c5411f3_precision.svg);
    --ico-presentation: url(https://uploads-ssl.webflow.com/656a605609413dfd3feb9d34/65b8341e3d872a0f99c01948_presentation.svg);
    --ico-press: url(https://uploads-ssl.webflow.com/656a605609413dfd3feb9d34/65b8341e0881b365b99f894e_press.svg);
    --ico-retail: url(https://uploads-ssl.webflow.com/656a605609413dfd3feb9d34/65b8341e8f85e44f7ae4264e_retail.svg);
    --ico-robot: url(https://uploads-ssl.webflow.com/656a605609413dfd3feb9d34/65b8341e428db5f2de962afc_robot.svg);
    --ico-script: url(https://uploads-ssl.webflow.com/656a605609413dfd3feb9d34/65b8341ee6aae193ddff3881_script.svg);
    --ico-secure-data: url(https://uploads-ssl.webflow.com/656a605609413dfd3feb9d34/65b8341edb256e4ef92d026f_secure-data.svg);
    --ico-security: url(https://uploads-ssl.webflow.com/656a605609413dfd3feb9d34/65b8341e26e216df6cebed75_security.svg);
    --ico-services: url(https://uploads-ssl.webflow.com/656a605609413dfd3feb9d34/65b8341e9e36fac30adba4fe_services.svg);
    --ico-smiley: url(https://uploads-ssl.webflow.com/656a605609413dfd3feb9d34/65b8341e7fcecd8c646368b3_smiley.svg);
    --ico-speech-audio: url(https://uploads-ssl.webflow.com/656a605609413dfd3feb9d34/65b8341e428db5f2de962b18_speech-audio.svg);
    --ico-speech-modeling: url(https://uploads-ssl.webflow.com/656a605609413dfd3feb9d34/65b8341ec21b947983d7d5e4_speech-modeling.svg);
    --ico-speech-to-text: url(https://uploads-ssl.webflow.com/656a605609413dfd3feb9d34/65b8341e1413d5b8afc14476_speech-to-text.svg);
    --ico-technology: url(https://uploads-ssl.webflow.com/656a605609413dfd3feb9d34/65b7f9ca19f869a3e3b6b970_technology.svg);
    --ico-telecom: url(https://uploads-ssl.webflow.com/656a605609413dfd3feb9d34/65b8341e90596ba8e5d92331_telecom.svg);
    --ico-text-creation: url(https://uploads-ssl.webflow.com/656a605609413dfd3feb9d34/65b8341ebcbef2061331b080_text-creation.svg);
    --ico-transcription: url(https://uploads-ssl.webflow.com/656a605609413dfd3feb9d34/65b8341e751553ed0974d008_transcription.svg);
    --ico-translation: url(https://uploads-ssl.webflow.com/656a605609413dfd3feb9d34/65b8341e751553ed0974d005_translation.svg);
    --ico-video: url(https://uploads-ssl.webflow.com/656a605609413dfd3feb9d34/65b8341e30fa9d5b63c3993d_video.svg);
    --ico-visual-recognition: url(https://uploads-ssl.webflow.com/656a605609413dfd3feb9d34/65b8341e5ebce710fc6343b5_visual-recognition.svg);
    --ico-voice: url(https://uploads-ssl.webflow.com/656a605609413dfd3feb9d34/65b8341ecf86c236d2b4f13d_voice.svg);
    --ico-webinar: url(https://uploads-ssl.webflow.com/656a605609413dfd3feb9d34/65b8341ecf86c236d2b4f161_webinar.svg);
    --ico-experience-oo: url(https://uploads-ssl.webflow.com/656a605609413dfd3feb9d34/65d229239653c54bca0b2450_experience-oo.svg);
    --ico-platform-oo: url(https://uploads-ssl.webflow.com/656a605609413dfd3feb9d34/65d229236104cd373d2f98d9_platform-oo.svg);
    --ico-people-oo: url(https://uploads-ssl.webflow.com/656a605609413dfd3feb9d34/65d2292343a1dbe0f9f476c9_people-oo.svg);
    --ico-chip: url(https://uploads-ssl.webflow.com/656a605609413dfd3feb9d34/65d51e078317049006309d53_chip.svg);
    --ico-data-vis: url(https://uploads-ssl.webflow.com/656a605609413dfd3feb9d34/65d51e0b37643be911a3eb63_data-vis.svg);
}
